@import '../../styles';

th, td:first-of-type {
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px 12px;
}

th, td:not(:first-of-type) {
    text-align: center;
}

th {
    padding-top: 0;
}

td:first-of-type {
    padding-left: 0;
}

td:not(:first-of-type) {
    border: solid 1px;
    white-space: nowrap;
}

.card .nav-tabs {
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;

    .nav-link {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

