@import '../../styles';

th, td:first-of-type {
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px;
}

th, td:not(:first-of-type) {
    text-align: center;
}

td:not(:first-of-type) {
    border: solid 1px rgba($color-text, 0.4);
    white-space: nowrap;
}

h2 {
    margin: 16px 0;
}
h3 {
    margin: 8px 0;
}
